	    <script type="text/javascript" src="/modalbutton.js"></script>

        <div class="container" >
            <div class="container-fluid row" >
                <footer class="footer panel-info">
                    <div class="footer-right ">
                        <a href="http://en.uoa.gr"><img src="/athena2.jpg" alt="UOA_LOGO"></a>
                    </div>
                    <div class="footer-left">
                       <p class="footer-links">
                           <a href="http://en.uoa.gr">National and Kapodistrian University of Athens</a>
					        <br><br>
                           <a href="http://en.biol.uoa.gr">Department of Biology</a>
					        <br><br>
                           <a href="http://biophysics.biol.uoa.gr">Biophysics & Bioinformatics Laboratory</a>
                       </p> 
                    </div>
                </footer>
            </div>
        </div>

    </body>
</html>
