<!DOCTYPE html>
<html>
    <head>
        <title>PerMemDB</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/app.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> 
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
	    <script type="text/javascript" src="/datatables.js"></script>
	    <script src='https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.5/cytoscape.js'></script>
		<!--<script type="text/javascript" src="/datatablefix.js"></script>-->

	</head>
    <body>
        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <h1>PerMemDB</h1>
                    <p>A database for eukaryotic peripheral membrane proteins</p>
                </div>
            </header>
            
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">PerMemDB</a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-expand-lg navbar-light bg-light navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav nav-pills nav-justified">
                            <!--<li><a href="/">Home</a></li>-->
                            <li><a href="/permemdb/search">Search</a></li>
							<li class="nav-item dropdown" id="navbarSupportedContent">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  Browse <span class="caret"></span></a>
								</a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								  <a class="dropdown-item" href="/permemdb/browse">By Organism</a>
								  <div class="dropdown-divider"></div>
								  <a class="dropdown-item" href="/permemdb/browse_pfam">By Pfam Domain</a>
								  <div class="dropdown-divider"></div>
								  <a class="dropdown-item" href="/permemdb/browse_path">By Pathway</a>
								  <div class="dropdown-divider"></div>
								  <a class="dropdown-item" href="/permemdb/browse_subloc">By Subcellular Location</a>
								</div>
							</li>
                            <!--<li><a href="/permemdb/browse">Browse</a></li>-->
                            <li><a href="/permemdb/blast">Blast Search</a></li>
                            <li><a href="/permemdb/manual">Manual</a></li>
                            <li><a href="/permemdb/download">Download</a></li>
                            <li><a href="/permemdb/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav> 
        </div>
